# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Python environment/config
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Model/data outputs
outputs/
*.pkl
*.joblib


# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/